.comparison-modal {
    text-align: center;
    padding: 30px 20px;
    background-color: #1c1c1c;
    color: #f5f5f5;
    font-family: 'Arial', sans-serif;
    border-radius: 15px;
    max-width: 600px;
    margin: auto;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

h2 {
    margin-bottom: 25px;
    font-size: 24px;
    color: #ffffff;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.comparison-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.comparison-box {
    cursor: pointer;
    padding: 15px;
    border: 3px solid #ff4500;
    border-radius: 10px;
    text-align: center;
    width: 48%;
    background-color: #2b2b2b;
    transition: transform 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.comparison-box:hover {
    transform: scale(1.05);
    border-color: #ff5722;
}

.comparison-poster {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.comparison-or {
    font-size: 20px;
    font-weight: bold;
    color: #cccccc;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    align-self: center;
}

.loading-text {
    margin-top: 15px;
    font-size: 16px;
    color: #ff4500;
}

body {
    background-color: #121212;
    margin: 0;
}

.ReactModal__Overlay {
    background-color: rgba(0, 0, 0, 0.8) !important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; 
}

.ReactModal__Content {
    position: relative;
    background-color: #1c1c1c;
    border: none;
    border-radius: 15px;
    max-width: 600px;
    width: 90%;
    padding: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    z-index: 10000; 
    overflow: auto; 
}
