.comparison-modal {
    text-align: center;
    padding: 30px 20px;
    background-color: #1c1c1c;
    color: #f5f5f5;
    font-family: 'Arial', sans-serif;
    border-radius: 15px;
    max-width: 600px;
    margin: auto;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

h2 {
    margin-bottom: 25px;
    font-size: 24px;
    color: #ffffff;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.comparison-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.comparison-box {
    cursor: pointer;
    padding: 15px;
    border: 3px solid #ff4500;
    border-radius: 10px;
    text-align: center;
    width: 48%;
    background-color: #2b2b2b;
    transition: transform 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.comparison-box:hover {
    transform: scale(1.05);
    border-color: #ff5722;
}

.comparison-poster {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.comparison-or {
    font-size: 20px;
    font-weight: bold;
    color: #cccccc;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    align-self: center;
}

.loading-text {
    margin-top: 15px;
    font-size: 16px;
    color: #ff4500;
}

body {
    background-color: #121212;
    margin: 0;
}

.ReactModal__Overlay {
    background-color: rgba(0, 0, 0, 0.8) !important; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999 !important; 
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.ReactModal__Content {
    background-color: #1c1c1c !important; 
    border: none !important;
    border-radius: 15px !important;
    max-width: 400px !important;
    width: 90% !important;
    padding: 30px 20px !important;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5) !important;
    z-index: 1000 !important;
    overflow: auto !important;
    text-align: center !important;
    position: relative !important;
}

button {
    background-color: #ff5722 !important; 
    color: #fff !important;
    font-size: 16px !important;
    padding: 10px 20px !important;
    border: none !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    margin-top: 20px !important;
    transition: background-color 0.2s ease-in-out !important;
}

button:hover {
    background-color: #ff4500 !important; 
}

button:focus {
    outline: none !important; 
    box-shadow: 0px 0px 5px #ff5722 !important;
}

h2 {
    color: #ffffff !important;
    margin-bottom: 20px !important;
    font-size: 24px !important;
}

p {
    color: #cccccc !important;
    font-size: 16px !important;
    margin-bottom: 20px !important;
}
